<html>
    <head>
        <title>Oops!</title>
        <link rel="stylesheet" href="./output.css">
    </head>

    <body>
        <%- err.message %>
        <a href="/"><button type="button">Back to Home page</button></a>
    </body>
</html>