<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="./styles.css">
    </head>

    <body>
        <% messages.forEach(message => { %>
            <div>
                <%- message.text %>
            </div>
            <div>
                <%- message.user %>
            </div>
            <div>
                <%- message.added.toDateString() %>
            </div>
        <% }) %>
    </body>
</html>