<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="./styles.css">
    </head>

    <body>
        <% messages.forEach((message, index) => { %>
            <div>
                <%- message.text %>
            </div>
            <div>
                <%- message.user %>
            </div>
            <div>
                <%- message.added.toDateString() %>
            </div>
            <a href= <%- `/message${index}` %> ><button type="button">Open</button></a>    
        <% }) %>
            <br>
        <a href="/new"><button type="button">New Message</button></a>
    </body>
</html>