<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="/output.css">
    </head>

    <body class="h-screen font-serif 
    bg-slate-300 flex flex-col justify-center items-center overflow-hidden">
    <div class="grow w-full"></div>
        <div class="flex-initial flex flex-col border-2 rounded-xl border-slate-900 
        bg-gray-50 w-2xl max-h-[calc(100vh-5rem)] overflow-hidden">
        <div class="p-2 overflow-y-auto">
            <% messages.forEach((message, index) => { %>
                <div class="mb-4 last:mb-0">
                    <div class="flex justify-start">
                        <div class="bg-slate-800 
                            text-white rounded-full h-12 px-5 
                            flex justify-end items-center
                            text-lg w-fit">
                        <%- message.message %>
                        </div>
                    </div>
                    <div class="flex px-2 text-gray-800 items-center">
                        <div>
                            <%- message.author %>
                        </div>
                        <div class="mx-1.5 h-1.5 w-1.5 bg-gray-500 rounded-full"></div>
                        <div>
                            <%- message.date.toDateString() %>
                        </div>
                        <div class="mx-1.5 h-1.5 w-1.5 bg-gray-500 rounded-full"></div>
                        <a href="<%- `/message/?index=${index}`%>" 
                            class="hover:underline cursor-pointer">Open</a>    
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="bg-slate-200 rounded-b-xl flex justify-center">
            <a href="/new"
            class="m-2">
                <button type="button" class="bg-violet-950 text-white
                hover:bg-indigo-900 hover:underline cursor-pointer
                rounded-lg p-3">New Message</button></a>
        </div>
        </div>
        <div class="grow-2 w-full"></div>
    </body>
</html>