<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="./styles.css">
    </head>

    <body>
            <div>
                Message Author: 
                <%- message.user %>
            </div>
            <div>
                Message text: 
                <%- message.text %>
            </div>
            <div>
                Message time:
                <%- message.added.toString() %>
            </div>
            <br>
            <a href="/"><button type="button">Back to Home page</button></a>
    </body>
</html>