<div class="text-red-600 mb-64">
    <% if (locals.errors) { %>
        <ul>
            <% errors.forEach(error => { %>
               <li><%= error.msg %></li> 
            <% }); %>
        </ul>
    <% } %>
</div>